<h1>Artisie</h1>
<h2>All arts</h2>

<div class="card-columns">
  <% @paintings.each do |painting| %>
    <%= link_to painting_path(painting) do  %>
      <div class="card">
        <%= image_tag painting.image, class: "card-img-top" %>
        <h6><%= painting.title %></h6>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Add a new piece', new_painting_path %>
