
<div class="container .bg-light">
  <div class="title text-center">
    <!-- <h1>Artisie</h1> -->
  </div>
  <div class="description pb-2 text-right">
  </div>

  <div class="card-columns">
    <% @paintings.each do |painting| %>
    <%= link_to painting_path(painting) do  %>
    <div class="main_card">
      <div class="card indie_card">
        <%= cl_image_tag painting.image, class: "card-img-top" %>
      </div>
      <p class="text-right"><%= painting.title %></p>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
