<%= simple_form_for([@painting, @booking]) do |f| %>
<div class="dates">
  <div class="form-inputs">
    <div class="form-row">
      <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
      <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
    </div>
  </div>
</div>
<div class="form-row">
  <%= f.submit "book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
</div>
<% end %>
