<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524055697392-928c7665644d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80">
  <h1><strong>Paintings you desire!</strong></h1>
  <p>Whenever you desire</p>
</div>
