<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524055697392-928c7665644d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80">
 <h1><strong>Artisie - The paintings you desire!</strong></h1>
 <p>You can change when ever you like.</p>
</div>

<div class="card-painting-wrapper">

  <div class="cardpainting">
    <img src="https://images.unsplash.com/photo-1559777998-bc6324db27b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
    <div class="card-painting-infos">
      <div>
        <h2>Title here</h2>
      </div>
    </div>
  </div>

  <div class="cardpainting">
    <img src="https://images.unsplash.com/photo-1559777998-bc6324db27b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
    <div class="card-painting-infos">
      <div>
        <h2>Title here</h2>
      </div>
    </div>
  </div>

  <div class="cardpainting">
    <img src="https://images.unsplash.com/photo-1559777998-bc6324db27b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
    <div class="card-painting-infos">
      <div>
        <h2>Title here</h2>
      </div>
    </div>
  </div>

</div>
